<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or site.title }}</title>
    <meta name="description" content="{{ description or site.description }}">
    <link rel="stylesheet" href="/styles.css">
    <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="{{ site.title }}">
    <link rel="alternate" href="/feed.json" type="application/json" title="{{ site.title }}">
    
    <meta name="msapplication-square70x70logo" content="../img/favicons/site-tile-70x70.png">
    <meta name="msapplication-square150x150logo" content="../img/favicons/site-tile-150x150.png">
    <meta name="msapplication-wide310x150logo" content="../img/favicons/site-tile-310x150.png">
    <meta name="msapplication-square310x310logo" content="../img/favicons/site-tile-310x310.png">
    <meta name="msapplication-TileColor" content="#0078d7">
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="../img/favicons/favicon.ico">
    <link rel="icon" type="image/vnd.microsoft.icon" href="../img/favicons/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="../img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../img/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="36x36" href="../img/favicons/android-chrome-36x36.png">
    <link rel="icon" type="image/png" sizes="48x48" href="../img/favicons/android-chrome-48x48.png">
    <link rel="icon" type="image/png" sizes="72x72" href="../img/favicons/android-chrome-72x72.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../img/favicons/android-chrome-96x96.png">
    <link rel="icon" type="image/png" sizes="128x128" href="../img/favicons/android-chrome-128x128.png">
    <link rel="icon" type="image/png" sizes="144x144" href="../img/favicons/android-chrome-144x144.png">
    <link rel="icon" type="image/png" sizes="152x152" href="../img/favicons/android-chrome-152x152.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../img/favicons/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="256x256" href="../img/favicons/android-chrome-256x256.png">
    <link rel="icon" type="image/png" sizes="384x384" href="../img/favicons/android-chrome-384x384.png">
    <link rel="icon" type="image/png" sizes="512x512" href="../img/favicons/android-chrome-512x512.png">
    <link rel="icon" type="image/png" sizes="36x36" href="../img/favicons/icon-36x36.png">
    <link rel="icon" type="image/png" sizes="48x48" href="../img/favicons/icon-48x48.png">
    <link rel="icon" type="image/png" sizes="72x72" href="../img/favicons/icon-72x72.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../img/favicons/icon-96x96.png">
    <link rel="icon" type="image/png" sizes="128x128" href="../img/favicons/icon-128x128.png">
    <link rel="icon" type="image/png" sizes="144x144" href="../img/favicons/icon-144x144.png">
    <link rel="icon" type="image/png" sizes="152x152" href="../img/favicons/icon-152x152.png">
    <link rel="icon" type="image/png" sizes="160x160" href="../img/favicons/icon-160x160.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../img/favicons/icon-192x192.png">
    <link rel="icon" type="image/png" sizes="196x196" href="../img/favicons/icon-196x196.png">
    <link rel="icon" type="image/png" sizes="256x256" href="../img/favicons/icon-256x256.png">
    <link rel="icon" type="image/png" sizes="384x384" href="../img/favicons/icon-384x384.png">
    <link rel="icon" type="image/png" sizes="512x512" href="../img/favicons/icon-512x512.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicons/icon-16x16.png">
    <link rel="icon" type="image/png" sizes="24x24" href="../img/favicons/icon-24x24.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../img/favicons/icon-32x32.png">
    <link rel="manifest" href="../img/favicons/manifest.json">
  </head>
  <body>
    <nav class="navbar">
      <a href="/" class="navbar-home">
        <strong>{{ site.title }}</strong>
      </a>

      <ul class="navbar-links">
      {%- for entry in search.pages("menu.visible=true", "menu.order") %}
        <li>
          <a href="{{ entry.data.url }}"{% if entry.data.url == url %} aria-current="page"{% endif %}>
            {{ entry.data.menu.title or entry.data.title }}
          </a>
        </li>
      {%- endfor %}
      </ul>

      <div class="navbar-search">
        <div id="search"></div>
      </div>
    </nav>

    <main class="{{ bodyClass }}">
      {{ content | safe }}
    </main>

    <footer></footer>

    <!-- Current page: {{ url }} -->
  </body>
</html>
