---
layout: layouts/base.njk
bodyClass: body-tag
---
<div data-pagefind-body>
  <h1>タグ： “{{ tag }}”</h1>

  {% set postslist = search.pages("'" + tag + "'") %}
  {% include "templates/postslist.njk" %}

  <hr>

  <p><a href="/tags/">すべてのタグを見る</a></p>
</div>